body {
  font-family: verdana;
  background-color: #33ccff;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.uheadline {
  text-align: center;
}
div {
  text-align: center;
}
.button {
  background-color: #33ccff;
  border: 005e80;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}